GettingStarted/.vs/
GettingStarted/GettingStartedHost/obj/
GettingStarted/GettingStartedLib/obj/
GettingStarted/GettingStartedLib/bin/
GettingStarted/GettingStartedHost/bin/
GettingStarted/GettingStartedClient/obj/
GettingStarted/GettingStartedClient/bin/
